
    <!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<title>Portal de Autenticación Estudiantil - SSU UMSS</title>
<link rel="stylesheet" href="../globals.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="access-and-login" ><div class="main" ><div class="container" ><div class="main-dual-panel" ><div class="section-left-primary" ><div class="header-branding" ><div class="div" ><img class="modern-styled-SSU" src="img/modern-styled-SSU-cross-emblem.svg" />
<div class="div-2" ><div class="container-2" ><div class="div-2" ><div class="text" >SSU • UMSS</div></div>
<div class="background" ><div class="text-wrapper" >ESTUDIANTIL</div></div></div>
<div class="div-3" ><div class="text-2" >SEGURO SOCIAL UNIVERSITARIO</div></div>
<div class="div-3" ><p class="p" >Cochabamba - Bolivia • Portal Oficial de Salud</p></div></div></div>
<div class="div-4" ><div class="div-3" ><div class="text-wrapper-2" >Portal de Autenticación Estudiantil</div></div></div>
<div class="auth-form" ><div class="div-4" ><div class="container-3" ><div class="label" ><div class="div-2" ><img class="icon" src="img/icon-6.svg" /></div>
<div class="text-3" >Matrícula / Código SIS</div></div>
<div class="div-2" ><div class="text-4" >9 dígitos numéricos</div></div></div>
<div class="div-3" ><div class="input" ><div class="div-wrapper" ><div class="text-wrapper-3" >202104829</div></div></div>
<div class="button" ><div class="icon-wrapper" ><img class="img" src="img/image.svg" /></div></div></div></div>
<div class="div-4" ><div class="container-3" ><div class="label" ><div class="div-2" ><img class="icon-2" src="img/icon.svg" /></div>
<div class="text-3" >Cédula de Identidad (C.I.)</div></div>
<div class="div-2" ><div class="text-4" >Con o sin extensión</div></div></div>
<div class="div-3" ><div class="input" ><div class="div-wrapper" ><div class="text-wrapper-4" >7894561 Cbba</div></div></div>
<div class="img-wrapper" ><img class="icon-3" src="img/icon-3.svg" /></div></div></div>
<div class="checkbox-recordar" ><div class="label-2" ><div class="input-2" ></div>
<div class="div-2" ><p class="text-5" >Recordar mis credenciales en este equipo</p></div></div>
<div class="link" ><div class="div-2" ><img class="icon-4" src="img/icon-5.svg" /></div>
<div class="text-6" >¿Problemas de SIS?</div></div></div>
<div class="botn-principal" ><div class="button-shadow" ></div>
<div class="container-4" ><div class="text-7" >Ingresar al Portal SSU</div></div>
<div class="container-4" ><img class="img" src="img/icon-2.svg" /></div></div>
<div class="link-2" ><div class="container-4" ><img class="icon-5" src="img/icon-4.svg" /></div>
<div class="container-4" ><p class="text-8" >Registrarse en SSU (Nueva Afiliación)</p></div></div></div></div></div></div>
<div class="bottom-footer-note" ><div class="container-4" ><p class="text-9" >© 2025 Seguro Social Universitario (SSU)</p></div>
<div class="container-4" ><div class="text-10" >•</div></div>
<div class="container-4" ><p class="text-9" >Universidad Mayor de San Simón</p></div>
<div class="container-4" ><div class="text-10" >•</div></div>
<div class="container-4" ><p class="text-9" >Vicerrectorado &amp; Dirección de Bienestar Estudiantil</p></div></div></div></div></div>
</body>
</html>