
    <!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<title>Renovación de Afiliación Médica Estudiantil - SSU UMSS</title>
<link rel="stylesheet" href="../globals.css">
<link rel="stylesheet" href="renovacion.css">
</head>
<body>
<div class="renovacin-de" ><div class="container" ><div class="main" ><div class="div" ><div class="top-triage" ><div class="div-wrapper" ><p class="text-wrapper" >Renovación de Afiliación Médica Estudiantil</p></div></div>
<div class="primary-interactive" ><div class="main-status-card" ><div class="active-insurance" ><div class="header-block-of-the" ><div class="paragraph" ><div class="text" >ESTADO DE COBERTURA ESTUDIANTIL</div>
<div class="text-wrapper-2" >Semestre I-2025 • Activa</div></div></div>
<div class="metrics-split" ><div class="expiration-date" ><div class="container-2" ><div class="text-wrapper-3" >FECHA DE VENCIMIENTO</div></div>
<div class="container-3" ><div class="div-2" ><img class="icon" src="img/icon-6.svg" /></div>
<div class="container-4" ><div class="text-2" >31 de Julio de<br/>2025</div></div></div>
<div class="container-2" ><div class="text-wrapper-4" >Límite oficial<br/>Gestión I-2025</div></div></div>
<div class="div-3" ><div class="container-2" ><div class="text-wrapper-3" >TIEMPO RESTANTE</div></div>
<div class="container-3" ><div class="div-2" ><img class="img" src="img/icon-15.svg" /></div>
<div class="div-2" ><div class="text-3" >134 Días</div></div></div>
<div class="container-2" ><div class="text-wrapper-4" >Vigencia activa sin<br/>interrupción</div></div></div>
<div class="div-3" ><div class="container-2" ><div class="text-wrapper-3" >MATRÍCULA UNIVERSITARIA</div></div>
<div class="container-3" ><div class="div-2" ><img class="icon-2" src="img/icon-13.svg" /></div>
<div class="div-2" ><div class="text-4" >SIS: 202104829</div></div></div>
<div class="container-2" ><div class="text-wrapper-4" >Facultad Cs. y<br/>Tecnología</div></div></div></div>
<div class="visual-progress-bar" ><div class="container-5" ><div class="container-6" ><div class="text-5" >Progreso del ciclo semestral</div></div>
<div class="container-6" ><div class="text-6" >32% completado</div></div></div>
<div class="background" ><div class="background-2" ></div></div>
<div class="container-7" ><div class="container-8" ><div class="text-7" >Inicio Gestión:<br/>01/02/2025</div></div>
<div class="container-9" ><div class="text-8" >Habilitación Ventana: ≤ 30<br/>días</div></div>
<div class="container-10" ><div class="text-7" >Vencimiento:<br/>31/07/2025</div></div></div></div>
<div class="business-rule-US" ><div class="container-wrapper" ><div class="div-2" ><img class="icon-3" src="img/icon-12.svg" /></div></div>
<div class="container-11" ><div class="container-12" ></div>
<div class="container-13" ><p class="p" >El botón de renovación se habilitará</p>
<div class="strong" ><div class="text-wrapper-5" >menos</div>
<p class="text-9" >ÚNICAMENTE cuando falten 30 días o</p></div>
<p class="para-el-vencimiento" > para el vencimiento de su cobertura actual. Conforme al reglamento</p>
<p class="universitario-este" ><span class="span" >universitario, este trámite estará disponible para su cuenta a partir del </span>
<span class="text-wrapper-6" >01 de<br/>Julio de 2025</span>
<span class="span" >.</span></p></div></div></div>
<div class="action-execution" ><div class="container-14" ><div class="div-2" ><img class="icon-4" src="img/icon-10.svg" /></div>
<div class="div-2" ><p class="text-10" >Verificación automática de matrícula SIS UMSS al día</p></div></div>
<div class="div-2" ><div class="disabled-button-real" ><div class="container-15" ><img class="icon-5" src="img/image.svg" /></div>
<div class="container-15" ><p class="renovar" ><span class="text-wrapper-7" >Renovar</span>
<span class="text-wrapper-8" ></span></p></div></div></div></div></div></div></div></div>
<header class="header" ><div class="container-16" ><img class="icon-6" src="img/icon-4.svg" />
<div class="link-logotipo" ><div class="logotipo-oficial" ></div></div>
<div class="container-17" ><div class="div-2" ><div class="container-18" ><div class="text-11" >Univ. Alejandro Flores Montaño</div></div>
<div class="fac-de-ciencias-y-wrapper" ><p class="fac-de-ciencias-y" > Fac. de Ciencias y Tecnología</p></div></div>
<div class="profile" ></div></div></div></header></div>
<footer class="footer" ><div class="container-19" ><div class="container-15" ><p class="text-12" >Seguro Social Universitario - UMSS | Av. Aniceto Arce N° 590, Cochabamba, Bolivia</p></div>
<div class="container-14" ><div class="container-15" ><img class="icon-7" src="img/icon-8.svg" /></div>
<div class="container-15" ><div class="text-13" >Emergencias: (591) 4-4251234</div></div></div></div></footer></div>
<div class="aside" ><div class="container-20" ><div class="container-21" ><div class="text-wrapper-9" >MÓDULOS DE ATENCIÓN</div></div>
<div class="nav" ><div class="link" ><div class="div-2" ><img class="icon-8" src="img/icon-14.svg" /></div>
<div class="div-2" ><div class="text-wrapper-10" >Nueva Afiliación / Registro</div></div></div>
<div class="link" ><div class="div-2" ><img class="icon-9" src="img/icon-5.svg" /></div>
<div class="div-2" ><div class="text-wrapper-10" >Afiliación Semestral</div></div></div>
<div class="link" ><div class="div-2" ><img class="icon-9" src="img/icon-2.svg" /></div>
<div class="container-22" ><div class="text-wrapper-10" >Ficha Médica General</div></div></div>
<div class="link" ><div class="div-2" ><img class="icon-9" src="img/icon-7.svg" /></div>
<div class="div-2" ><div class="text-wrapper-10" >Ficha Especialista</div></div></div>
<div class="link-2" ><div class="div-2" ><img class="icon-10" src="img/icon.svg" /></div>
<div class="container-23" ><div class="text-wrapper-11" >Renovación Afiliación</div></div></div>
<div class="link" ><div class="div-2" ><img class="icon-11" src="img/icon-3.svg" /></div>
<div class="container-24" ><div class="text-wrapper-10" >Laboratorio y Resultados</div></div></div>
<div class="link" ><div class="div-2" ><img class="icon-12" src="img/icon-9.svg" /></div>
<div class="div-2" ><div class="text-wrapper-10" >Mi Cuenta y Perfil</div></div></div></div></div>
<div class="logout-action-button" ><button class="button" ><div class="container-15" ><img class="icon-13" src="img/icon-11.svg" /></div>
<div class="container-15" ><div class="text-14" >Cerrar Sesión del Portal</div></div></button></div></div></div>
</body>
</html>