
    <!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<title>Formulario de Registro y Primera Afiliación - SSU UMSS</title>
<link rel="stylesheet" href="../globals.css">
<link rel="stylesheet" href="registro.css">
</head>
<body>
<div class="registro-y-nueva" ><div class="container" ><div class="main" ><div class="div" ><div class="sub-header" ><div class="container-wrapper" ><div class="heading-wrapper" ><div class="div" ><p class="text" >Formulario de Registro y Primera Afiliación</p></div></div></div></div>
<div class="main-grid-form" ><div class="RIGHT-COLUMN-sticky" ><div class="div-2" ><div class="container-2" ><div class="div-3" ><img class="icon" src="img/icon.svg" /></div>
<div class="heading" ><div class="text-wrapper" >Validación Presencial de<br/>Documentos</div></div></div>
<div class="div" ><p class="p" >Una vez enviada la solicitud online,<br/>debe apersonarse para la toma de<br/>huella dactilar y entrega de carnet de<br/>salud:</p></div>
<div class="div-wrapper" ><div class="background" ><div class="container-3" ><div class="div-3" ><img class="img" src="img/icon-7.svg" /></div>
<div class="container-4" ><div class="text-2" >Edificio Central SSU -<br/>UMSS</div></div></div>
<div class="av-aniceto-arce-wrapper" ><p class="p" >Av. Aniceto Arce #590 (Frente<br/>al Monoblock Central).<br/>Ventanillas 1 y 2 de<br/>Afiliaciones Estudiantiles.</p></div>
<div class="container-5" ><div class="div-3" ><img class="icon-2" src="img/icon-16.svg" /></div>
<div class="container-6" ><p class="text-3" >Lunes a Viernes: 08:00 -<br/>15:30 (Continuado)</p></div></div></div></div></div>
<div class="div-2" ><div class="container-3" ><div class="div-3" ><img class="icon-3" src="img/image.svg" /></div>
<div class="div-3" ><div class="text-4" >Preguntas Frecuentes</div></div></div>
<div class="container-7" ><div class="details-FAQ" ><div class="slot-summary" ><div class="container-8" ><p class="text-2" >¿Cuánto tarda la activación<br/>del seguro?</p></div>
<div class="div-3" ><img class="icon-4" src="img/icon-21.svg" /></div></div></div>
<div class="details-FAQ" ><div class="slot-summary" ><div class="container-9" ><p class="text-2" >¿Qué hacer si no figuro en<br/>WebSIS?</p></div>
<div class="div-3" ><img class="icon-4" src="img/icon-10.svg" /></div></div></div>
<div class="details-FAQ" ><div class="slot-summary" ><div class="container-10" ><div class="text-2" >¿Cubre emergencias de<br/>inmediato?</div></div>
<div class="div-3" ><img class="icon-4" src="img/icon-11.svg" /></div></div></div></div></div></div>
<div class="LEFT-COLUMN-stepped" ><div class="section-STEP" ><div class="horizontal-border" ><div class="container-11" ><div class="background-2" ><div class="text-5" >1</div></div>
<div class="div-3" ><div class="div" ><div class="text-4" >Validación Académica Universitaria</div></div>
<div class="div" ><p class="text-6" >Confirme sus credenciales estudiantiles vigentes</p></div></div></div>
<div class="background-3" ><div class="text-7" >Paso 1 de 3</div></div></div>
<div class="container-12" ><div class="matrcula-SIS" ><div class="div" ><div class="text-wrapper-2" >CÓDIGO SIS / MATRÍCULA</div></div>
<div class="container-13" ><div class="input" ><div class="container-14" ><div class="text-wrapper-3" >202104829</div></div></div>
<img class="icon-5" src="img/icon-26.svg" /></div></div>
<div class="carnet-de-identidad" ><div class="div" ><div class="text-wrapper-2" >CÉDULA DE IDENTIDAD</div></div>
<div class="container-13" ><div class="input-2" ><div class="container-14" ><div class="text-wrapper-4" >8014529 Cbba.</div></div></div>
<img class="icon-6" src="img/icon-3.svg" /></div></div>
<div class="action-button-check" ></div></div>
<div class="carnet-de-identidad-2" ><div class="div" ><div class="text-wrapper-5" >CARRERA</div></div>
<div class="input-wrapper" ><div class="input-3" ><div class="licenciatura-en-wrapper" ><div class="licenciatura-en" >Licenciatura en Ingeniería de<br/>Sistemas</div></div></div></div></div>
<div class="margin" ></div></div>
<div class="section-STEP-2" ><div class="horizontal-border" ><div class="container-11" ><div class="background-2" ><div class="text-5" >2</div></div>
<div class="div-3" ><div class="div" ><p class="text-4" >Información Personal y Contacto de Urgencia</p></div>
<div class="div" ><p class="text-6" >Ficha demográfica para el expediente clínico único</p></div></div></div>
<div class="background-3" ><div class="text-7" >Paso 2 de 3</div></div></div>
<div class="form" ><div class="full-name" ><div class="div" ><div class="text-wrapper-6" >NOMBRES COMPLETOS</div></div>
<div class="input-4" ><div class="container-14" ><div class="text-wrapper-7" >Alejandro</div></div></div></div>
<div class="surnames" ><div class="div" ><div class="text-wrapper-6" >APELLIDOS (PATERNO / MATERNO)</div></div>
<div class="input-4" ><div class="container-14" ><div class="text-wrapper-7" >Flores Montaño</div></div></div></div>
<div class="birthdate" ><div class="div" ><div class="text-wrapper-6" >FECHA DE NACIMIENTO</div></div>
<div class="container-13" ><div class="input-5" ><div class="container-15" ><div class="paragraph-wrapper" ><div class="paragraph" ><div class="text-wrapper-8" >05</div>
<div class="text-wrapper-8" >/</div>
<div class="text-wrapper-8" >18</div>
<div class="text-wrapper-8" >/</div>
<div class="text-wrapper-8" >2002</div></div></div>
<div class="button-menu" ><div class="image" ></div></div></div></div>
<img class="icon-7" src="img/icon-6.svg" /></div></div>
<div class="blood-group" ><div class="div" ><p class="text-wrapper-6" >GRUPO SANGUÍNEO Y FACTOR RH</p></div>
<div class="container-13" ><div class="options" ><div class="div" ><div class="text-wrapper-9" >ORh(+) Positivo (Común)</div></div></div>
<img class="icon-8" src="img/icon-17.svg" />
<div class="icon-wrapper" ><img class="icon-9" src="img/icon-18.svg" /></div></div></div>
<div class="mobile-phone" ><div class="div" ><div class="text-wrapper-6" >TELÉFONO CELULAR / WHATSAPP</div></div>
<div class="container-13" ><div class="input-6" ><div class="container-14" ><div class="text-wrapper-7" >+591 76918234</div></div></div>
<img class="icon-10" src="img/icon-4.svg" /></div></div>
<div class="home-address" ><div class="div" ><div class="DIRECCI-n" >DIRECCIÓN DOMICILIARIA EN<br/>COCHABAMBA</div></div>
<div class="container-13" ><div class="input-6" ><div class="container-14" ><p class="text-8" >Av. Papa Paulo N° 742, Z. Las Cuadras</p></div></div>
<img class="icon-11" src="img/icon-27.svg" /></div></div>
<div class="sub-divider" ><div class="sub-divider-2" ><div class="div" ><p class="text-wrapper-10" >EN CASO DE EMERGENCIA MÉDICA AVISAR A:</p></div>
<div class="container-16" ><div class="input-7" ><div class="container-14" ><div class="text-wrapper-11" >Elena Montaño Rios</div></div></div>
<div class="options-2" ><div class="container-17" ><div class="text-wrapper-12" >Parentesco: Madre</div></div></div>
<div class="input-7" ><div class="container-14" ><div class="text-wrapper-11" >4-4581920 / 71729012</div></div></div></div></div></div></div></div>
<div class="section-STEP-2" ><div class="horizontal-border" ><div class="container-11" ><div class="background-2" ><div class="text-5" >3</div></div>
<div class="div-3" ><div class="div" ><p class="text-4" >Declaración Jurada de No Doble Seguro</p></div>
<div class="div" ><p class="text-6" >Requisito legal inexcusable según Ley N° 065 y normativa ASUSS</p></div></div></div>
<div class="background-3" ><div class="text-7" >Paso 3 de 3</div></div></div>
<div class="background-4" ><div class="container-18" ><div class="img-wrapper" ><img class="icon-12" src="img/icon-19.svg" /></div>
<div class="container-19" ><div class="container-20" ><p class="text-9" >El estudiante universitario declara bajo juramento no encontrarse afiliado como<br/>titular ni beneficiario activo en ningún otro Ente Gestor de la Seguridad Social a<br/>Corto Plazo (CNS, CPS, Seguro Social Universitario de otra universidad pública,<br/>CORDES, Bancaria o COSSMIL). La falsedad incurre en sanciones académicas y<br/>penales tipificadas.</p></div></div></div></div>
<div class="container-21" ><div class="label" ><div class="input-margin" ><div class="input-8" ></div></div>
<div class="strong-certifico-wrapper" ><p class="strong-certifico" ><span class="span" >Certifico bajo fe de juramento</span>
<span class="text-wrapper-13" > que no gozo de cobertura médica activa en ninguna</span>
<span class="span" ><br/></span>
<span class="text-wrapper-13" >Caja de Salud estatal, departamental o militar, ni por relación laboral propia ni como</span>
<span class="span" ><br/></span>
<span class="text-wrapper-13" >dependiente familiar.</span></p></div></div>
<div class="label" ><div class="input-margin" ><div class="input-8" ></div></div>
<div class="container-22" ><p class="text-10" ><span class="text-wrapper-14" >Autorizo al </span>
<span class="text-wrapper-15" >Seguro Social Universitario (SSU)</span>
<span class="text-wrapper-14" > a cruzar información de mis datos<br/>personales ante la</span></p>
<div class="strong" ><div class="text-11" >(ASUSS)</div>
<p class="text-12" >Autoridad de Supervisión de la Seguridad Social de Corto Plazo</p></div>
<p class="text-13" > y el Servicio General de Identificación Personal (SEGIP).</p></div></div></div></div>
<div class="form-bottom-action" ><button class="button" ><div class="container-23" ><img class="icon-13" src="img/icon-24.svg" /></div>
<div class="container-23" ><div class="text-14" >Guardar Borrador</div></div></button>
<button class="button-2" ><div class="button-shadow" ></div>
<div class="container-23" ><img class="icon-14" src="img/icon-2.svg" /></div>
<div class="container-23" ><div class="text-15" >Enviar Solicitud de Afiliación</div></div></button></div></div>
<img class="icon-15" src="img/icon-14.svg" /></div></div></div>
<footer class="footer" ><div class="container-24" ><div class="container-23" ><p class="text-16" >Seguro Social Universitario - UMSS | Av. Aniceto Arce N° 590, Cochabamba, Bolivia</p></div>
<div class="container-11" ><div class="container-23" ><img class="icon-16" src="img/icon-5.svg" /></div>
<div class="container-23" ><div class="text-17" >Emergencias: (591) 4-4251234</div></div></div></div></footer>
<div class="aside" ><div class="container-25" ><div class="container-26" ><div class="text-wrapper-2" >MÓDULOS DE ATENCIÓN</div></div>
<div class="nav" ><div class="link" ><div class="div-3" ><img class="icon-17" src="img/icon-20.svg" /></div>
<div class="div-3" ><div class="text-18" >Nueva Afiliación / Registro</div></div></div>
<div class="link-2" ><div class="div-3" ><img class="icon-3" src="img/icon-8.svg" /></div>
<div class="div-3" ><div class="text-wrapper-16" >Afiliación Semestral</div></div></div>
<div class="link-2" ><div class="div-3" ><img class="icon-3" src="img/icon-13.svg" /></div>
<div class="container-27" ><div class="text-wrapper-16" >Ficha Médica General</div></div></div>
<div class="link-2" ><div class="div-3" ><img class="icon-3" src="img/icon-12.svg" /></div>
<div class="div-3" ><div class="text-wrapper-16" >Ficha Especialista</div></div></div>
<div class="link-3" ><div class="div-3" ><img class="icon-18" src="img/icon-9.svg" /></div>
<div class="container-28" ><div class="text-wrapper-17" >Renovación Afiliación</div></div></div>
<div class="link-2" ><div class="div-3" ><img class="icon-19" src="img/icon-15.svg" /></div>
<div class="container-29" ><div class="text-wrapper-16" >Laboratorio y Resultados</div></div></div>
<div class="link-2" ><div class="div-3" ><img class="icon-2" src="img/icon-25.svg" /></div>
<div class="div-3" ><div class="text-wrapper-16" >Mi Cuenta y Perfil</div></div></div></div></div>
<div class="div-wrapper" ><button class="button-3" ><div class="container-23" ><img class="icon-20" src="img/icon-22.svg" /></div>
<div class="container-23" ><div class="text-19" >Cerrar Sesión del Portal</div></div></button></div></div></div>
<header class="header" ><div class="container-30" ><img class="icon-21" src="img/icon-23.svg" />
<div class="link-logotipo" ><div class="logotipo-oficial" ></div></div>
<div class="container-31" ><div class="div-3" ><div class="container-32" ><div class="text-20" >Univ. Alejandro Flores Montaño</div></div>
<div class="fac-de-ciencias-y-wrapper" ><p class="fac-de-ciencias-y" > Fac. de Ciencias y Tecnología</p></div></div>
<div class="profile" ></div></div></div></header></div>
</body>
</html>